<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438080546241-cvntq3130s5fs04ebjiuitb6s2rb5fht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438080546241-cvntq3130s5fs04ebjiuitb6s2rb5fht</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQYDbo622_zp1byCf0shvSAwIMqq5JWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>438080546241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HB.timeCalculator</string>
	<key>PROJECT_ID</key>
	<string>timecalculator-f3c48</string>
	<key>STORAGE_BUCKET</key>
	<string>timecalculator-f3c48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438080546241:ios:cdc761c858d2c37cc7bb40</string>
</dict>
</plist>